<tr>
  <td><img width="61" height="91" src="<%= posters.thumbnail %>"></td>
  <td><%= title %></td>
  <td><%= year %></td>
  <td><%= runtime %></td>
  <td><a class="btn btn-success nomination-button"
    data-rotten-tomatoes-id="<%= id %>"
    data-title="<%= title %>"
    data-year="<%= year %>"
    data-runtime="<%= runtime %>"
    data-thumbnail-url="<%= posters.thumbnail %>"
    data-detailed-url="<%= posters.detailed %>"
    data-rotten-tomatoes-url="<%= links.alternate %>"
  ><i class="icon-star icon-white"></i> Nominate</button>
</tr>
