!!!
%html
  %head
    %title Movie Night
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %span.brand Movie Night
          %ul.nav
            %li= link_to 'Nominate', new_movie_path
            %li= link_to 'Vote', root_path
            - if user_signed_in?
              %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'

    .container
      = yield
    = javascript_include_tag 'application'
    = yield :javascript
